body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e0f2f1
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
    width: 90vmin;
    height: 90vmin;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.grid-item {
    font-size: 4.5vmin;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:empty {
    background-color: white;
}

.number {
    width: 100%;
    height: 100%;
    background-color: #1976d2;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    transition:
        background-color 0.25s ease-in-out,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.number:hover {
    transform: scale(1.04);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}

.number:active {
    transform: scale(0.96);
}