.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: #ccc;
    border: 3px solid orange;
    margin: 0 auto;
    gap: 4px;
    max-width: 90vmin;
}

.grid-item {
  border: 3px solid orange;
  height: 30vh;
  font-size: calc(30vh * 0.8);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


.number {
  color: white;
  background-color: red;
  width: 100%;  
  height: 100%;
  text-align: center;
  cursor: pointer;
}